<div class="row content">
  <div class="col-lg-6">
    <div *ngIf="steel" class="content-left">
      <div><h1 class="text-center">{{ steel.name }}</h1></div>
      <div><h6>{{ steel.description }}</h6></div>
      <div *ngIf="steel.techDetails">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th [colSpan]="techDetailsSchema.cells">
                <h5 class="text-center">{{ techDetailsSchema.name }}</h5>
              </th>
            </tr>
            <tr>
              <th *ngIf="steel.techDetails.forgingTemp" [innerHtml]="techDetailsSchema.forgingTemp"></th>
              <th *ngIf="steel.techDetails.weldability">{{ techDetailsSchema.weldability }}</th>
              <th *ngIf="steel.techDetails.fragility">{{ techDetailsSchema.fragility }}</th>
              <th *ngIf="steel.techDetails.grindability">{{ techDetailsSchema.grindability }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="steel.techDetails.forgingTemp">{{ steel.techDetails.forgingTemp }}</td>
              <td *ngIf="steel.techDetails.weldability">{{ steel.techDetails.weldability }}</td>
              <td *ngIf="steel.techDetails.fragility">{{ steel.techDetails.fragility }}</td>
              <td *ngIf="steel.techDetails.grindability">{{ steel.techDetails.grindability }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.critPointsTemperature">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th [colSpan]="critPointsTemperatureSchema.cells">
                <h5 class="text-center" [innerHtml]="critPointsTemperatureSchema.name"></h5>
              </th>
            </tr>
            <tr>
              <th *ngIf="steel.critPointsTemperature.Ac_1" [innerHtml]="critPointsTemperatureSchema.Ac_1"></th>
              <th *ngIf="steel.critPointsTemperature.Ac_3" [innerHtml]="critPointsTemperatureSchema.Ac_3"></th>
              <th *ngIf="steel.critPointsTemperature.Ar_1" [innerHtml]="critPointsTemperatureSchema.Ar_1"></th>
              <th *ngIf="steel.critPointsTemperature.Ar_3" [innerHtml]="critPointsTemperatureSchema.Ar_3"></th>
              <th *ngIf="steel.critPointsTemperature.Mn" [innerHtml]="critPointsTemperatureSchema.Mn"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="steel.critPointsTemperature.Ac_1">{{ steel.critPointsTemperature.Ac_1 }}</td>
              <td *ngIf="steel.critPointsTemperature.Ac_3">{{ steel.critPointsTemperature.Ac_3 }}</td>
              <td *ngIf="steel.critPointsTemperature.Ar_1">{{ steel.critPointsTemperature.Ar_1 }}</td>
              <td *ngIf="steel.critPointsTemperature.Ar_3">{{ steel.critPointsTemperature.Ar_3 }}</td>
              <td *ngIf="steel.critPointsTemperature.Mn">{{ steel.critPointsTemperature.Mn }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">two</div>
</div>
