<div class="row content">
  <span *ngIf="steel && (steel.E || steel.G || steel.dignity)" (click)="chartVisible = !chartVisible"><i *ngIf="!chartVisible" class="fa fa-arrow-left fa-3x" aria-hidden="true"></i><i *ngIf="chartVisible" class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></span>
  <div [ngClass]="{'col-lg-12': !chartVisible,'col-lg-6': chartVisible}">
    <div *ngIf="steel" class="content-left">
      <div id="category_name" *ngIf="category"><a [routerLink]="['/category',category._id]">{{ category.ukr }}</a></div>
      <div><h1 class="text-center">{{ steel.name }}</h1></div>
      <div><h6 [innerHtml]="steel.description"></h6></div>
      <div *ngIf="steel.techDetails" class="table-wrapper text-center">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th [colSpan]="techDetailsSchema.cells">
                <h5 class="text-center">{{ techDetailsSchema.name }}</h5>
              </th>
            </tr>
            <tr>
              <th class="text-center" *ngFor="let key of this.getKeys(steel.techDetails)" [innerHtml]="techDetailsSchema[key]"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let key of this.getKeys(steel.techDetails)">{{ steel.techDetails[key] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.critPointsTemperature" class="table-wrapper text-center">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th [colSpan]="critPointsTemperatureSchema.cells">
                <h5 class="text-center" [innerHtml]="critPointsTemperatureSchema.name"></h5>
              </th>
            </tr>
            <tr>
              <th class="text-center" *ngFor="let key of this.getKeys(steel.critPointsTemperature)" [innerHtml]="critPointsTemperatureSchema[key]"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let key of this.getKeys(steel.critPointsTemperature)">{{ steel.critPointsTemperature[key] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.chemicalComposition" class="table-wrapper text-center">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th [colSpan]="chemicalCompositionSchema.cells">
                <h5 class="text-center" [innerHtml]="chemicalCompositionSchema.name"></h5>
              </th>
            </tr>
            <tr>
              <th class="text-center" *ngFor="let key of this.getKeys(steel.chemicalComposition)" [innerHtml]="chemicalCompositionSchema[key]"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let key of this.getKeys(steel.chemicalComposition)">
                <div *ngFor="let item of steel.chemicalComposition[key]">{{ item }}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="display: block">
          <canvas baseChart
                  [data]="charts.doughnutChartData"
                  [labels]="charts.doughnutChartLabels"
                  [chartType]="charts.doughnutChartType"
                  (chartHover)="charts.chartHovered($event)"
                  (chartClick)="charts.chartClicked($event)"></canvas>
        </div>
      </div>
      <div *ngIf="steel.mechanicalProperties" class="table-wrapper text-center">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th [colSpan]="mechanicalPropertiesSchema.cells">
              <h5 class="text-center" [innerHtml]="mechanicalPropertiesSchema.name"></h5>
            </th>
          </tr>
          <tr>
            <th class="text-center" *ngFor="let key of this.getKeys(steel.mechanicalProperties[0])" [innerHtml]="mechanicalPropertiesSchema[key]"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of steel.mechanicalProperties">
            <td *ngFor="let key of this.getKeys(item)">
              <div *ngIf="'deliveryStatus' === key ; then deliveryStatus else arrays"></div>
              <ng-template #deliveryStatus>
                <p>{{ item[key] }}</p>
              </ng-template>
              <ng-template #arrays>
                <p *ngFor="let i of item[key]">{{ i }}</p>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.E" class="table-wrapper text-center">
        <h4 [innerHtml]="eSchema.name"></h4>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th [colSpan]="eSchema.cells">
              <h5 class="text-center" [innerHtml]="eSchema.label"></h5>
            </th>
          </tr>
          <tr>
            <th class="text-center" *ngFor="let item of eSchema.temp" [innerHtml]="item"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let key of steel.E">{{ key }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.G" class="table-wrapper text-center">
        <h4 [innerHtml]="gSchema.name"></h4>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th [colSpan]="gSchema.cells">
              <h5 class="text-center" [innerHtml]="gSchema.label"></h5>
            </th>
          </tr>
          <tr>
            <th class="text-center" *ngFor="let item of gSchema.temp" [innerHtml]="item"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let key of steel.G">{{ key }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.dignity" class="table-wrapper text-center">
        <h4 [innerHtml]="dignitySchema.name"></h4>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th [colSpan]="dignitySchema.cells">
              <h5 class="text-center" [innerHtml]="dignitySchema.label"></h5>
            </th>
          </tr>
          <tr>
            <th class="text-center" *ngFor="let item of dignitySchema.temp" [innerHtml]="item"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let key of steel.dignity">{{ key }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="steel.heatCapacity" class="table-wrapper text-center">
        <h4 [innerHtml]="heatCapacitySchema.name"></h4>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th [colSpan]="heatCapacitySchema.cells">
              <h5 class="text-center" [innerHtml]="heatCapacitySchema.label"></h5>
            </th>
          </tr>
          <tr>
            <th class="text-center" *ngFor="let item of heatCapacitySchema.temp" [innerHtml]="item"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let key of steel.heatCapacity">{{ key }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="chartVisible" class="col-lg-6 content-right">
    <div *ngIf="charts.lineChartDataE.length > 0" style="display: block;">
      <h3 [innerHtml]="eSchema.name"></h3>
      <canvas baseChart
              [datasets]="charts.lineChartDataE"
              [labels]="charts.lineChartLabelsE"
              [options]="charts.lineChartOptions"
              [colors]="charts.lineChartColors"
              [legend]="charts.lineChartLegend"
              [chartType]="charts.lineChartType"
              (chartHover)="charts.chartHovered($event)"
              (chartClick)="charts.chartClicked($event)">
      </canvas>
    </div>
    <div *ngIf="charts.lineChartDataG.length > 0" style="display: block;">
      <h3 [innerHtml]="gSchema.name"></h3>
      <canvas baseChart
              [datasets]="charts.lineChartDataG"
              [labels]="charts.lineChartLabelsG"
              [options]="charts.lineChartOptions"
              [colors]="charts.lineChartColors"
              [legend]="charts.lineChartLegend"
              [chartType]="charts.lineChartType"
              (chartHover)="charts.chartHovered($event)"
              (chartClick)="charts.chartClicked($event)">
      </canvas>
    </div>
    <div *ngIf="charts.lineChartDataDignity.length > 0" style="display: block;">
      <h3 [innerHtml]="dignitySchema.name"></h3>
      <canvas baseChart
              [datasets]="charts.lineChartDataDignity"
              [labels]="charts.lineChartLabelsDignity"
              [options]="charts.lineChartOptions"
              [colors]="charts.lineChartColors"
              [legend]="charts.lineChartLegend"
              [chartType]="charts.lineChartType"
              (chartHover)="charts.chartHovered($event)"
              (chartClick)="charts.chartClicked($event)">
      </canvas>
    </div>
    <div *ngIf="charts.lineChartDataHeatCapacity.length > 0" style="display: block;">
      <h3 [innerHtml]="heatCapacitySchema.name"></h3>
      <canvas baseChart
              [datasets]="charts.lineChartDataHeatCapacity"
              [labels]="charts.lineChartLabelsHeatCapacity"
              [options]="charts.lineChartOptions"
              [colors]="charts.lineChartColors"
              [legend]="charts.lineChartLegend"
              [chartType]="charts.lineChartType"
              (chartHover)="charts.chartHovered($event)"
              (chartClick)="charts.chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>
