.content {
  padding-bottom: 60px;
}
.row {
  padding-left: 30px;
  height: 100%;
  width: 100%;
}

h6:first-letter {
  text-transform: uppercase;
}

td:first-letter {
  text-transform: uppercase
}

td p {
  min-width: 80px;
}

.content-left div, .content-right div {
  padding-top: 20px;
  padding-bottom: 10px;
}

.table-wrapper {
  border-top: 1px solid black;
}

i {
  z-index: 10;
  position: fixed;
  margin-top: 20px;
  margin-left: 95%;
  color: lightskyblue;
  cursor:pointer;
}

#category_name {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 0;
}
