<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Довідник сталей</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Головна <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Категорії</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Про нас</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="searchHandler($event)" >
      <input formControlName="query" class="form-control mr-sm-2" type="text" placeholder="Пошук">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" aria-label="Пошук" ><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">Viktor Sadovyi <i class="fa fa-registered" aria-hidden="true"></i></span>
  </div>
</footer>
