.container {
  padding-bottom: 60px;
}

.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/images/stainless-steel.jpg");
  background-color: #333;
  color: white;
}

.steel {
  text-align: center;
}
