<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Довідник сталей</h1>
    <p>Сайт містить інформацію про класифікацію, властивості, хімічний склад та призначення сталей.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 steel" *ngFor="let item of steels">
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
      <p><a class="btn btn-secondary" [routerLink]="['/steel',item._id]" role="button">Переглянути »</a></p>
    </div>
  </div>
</div>
